.deck-card {
    width: 300px;
    height: 200px
}

.font-maroon {
    color: maroon;
}

.canvas-header {
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

.code-font {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  